extends base

block content 
  .wrapper
      include components\header\header.pug
      main.main
         include components\mainScreen\mainScreen.pug
         include components\screensaver\screensaver.pug
         include components\cards\cards.pug
         include components\delimiter\delimiter.pug
         include components\functional\functional.pug
         include components\feedback\feedback.pug
         script(src="./../index.js")
      | 
  | 