@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #707981;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .screensaver__body, .nav-bar-menu__list, .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .screensaver__body, .nav-bar-menu__list, .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container {
  padding: 8px 0;
}

.header__logo {
  gap: 16px;
}

.header__logo-img {
  border-radius: 100px;
  background: var(--blue-0, #F4FAFF);
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1020px) {
  .menu__body {
    position: fixed;
    z-index: 5;
    top: 58px;
    right: -100%;
    width: 100%;
    height: 902px;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
    padding: 137px 0 176px 0;
  }
}
@media screen and (max-width: 321px) {
  .menu__body {
    height: 392px;
    padding: 40px 0 40px 0;
  }
}

.active__menu {
  right: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

.nav-bar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 2%;
}
@media screen and (max-width: 1020px) {
  .nav-bar-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 100%;
    gap: 20px;
    margin-left: 0;
  }
}

.nav-bar-menu__list {
  gap: 32px;
}
@media screen and (max-width: 1020px) {
  .nav-bar-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 100%;
    gap: 20px;
  }
}

.nav-bar-menu__paragraph-link {
  color: #5B605C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.1px;
}
@media (max-width: 767px) {
  .nav-bar-menu__paragraph-link {
    font-size: calc(24px + -13.6 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .nav-bar-menu__paragraph-link {
    font-size: calc(24px + -8 * (100vw / 1440));
  }
}
.nav-bar-menu__paragraph-link:hover {
  text-decoration: underline;
  color: #000;
}
@media screen and (max-width: 1020px) {
  .nav-bar-menu__paragraph-link {
    text-align: left;
  }
}

.header__button {
  border-radius: 30px;
  background: #000;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.1px;
  padding: 0 32px;
}
@media (max-width: 767px) {
  .header__button {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .header__button {
    font-size: calc(14px + 8 * (100vw / 1440));
  }
}
@media screen and (max-width: 1020px) {
  .header__button {
    width: 100%;
  }
}

.menu__icon {
  display: none;
}
@media screen and (max-width: 1020px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 25px;
    height: 21px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #222FDC;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

.menu__icon.active__menu span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu__icon.active__menu::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon.active__menu::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .screensaver__body, .header__logo, .nav-bar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen__container {
  padding: 50px 0;
}
@media screen and (max-width: 490px) {
  .main-screen__container {
    padding: 30px 0 10px 0;
  }
}

.main-screen__body {
  position: relative;
  gap: 24px;
}
.main-screen__body::after {
  position: absolute;
  content: "";
  background: url("../img/main-screen/arrow.svg");
  width: 20px;
  height: 34px;
  bottom: 0;
  left: 24px;
}
@media screen and (max-width: 1124px) {
  .main-screen__body::after {
    display: none;
  }
}
@media screen and (max-width: 1124px) {
  .main-screen__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  padding: 24px 24px 56px 24px;
}
@media screen and (max-width: 490px) {
  .main-screen__content {
    padding: 0;
  }
}

.main-screen__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.main-screen__content-title-h {
  color: #222FDC;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .main-screen__content-title-h {
    font-size: calc(44px + 78.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .main-screen__content-title-h {
    font-size: calc(44px + 46 * (100vw / 1440));
  }
}

.main-screen__content-subtitle-p {
  color: #222FDC;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.2px;
}
@media (max-width: 767px) {
  .main-screen__content-subtitle-p {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .main-screen__content-subtitle-p {
    font-size: calc(16px + 6 * (100vw / 1440));
  }
}

.main-screen__content-entry-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.entry-field__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.entry-field__list-paragraph {
  border-radius: 12px;
  background: #F7F7F7;
  padding: 0px 16px;
  color: #222FDC;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.1px;
}
@media (max-width: 767px) {
  .entry-field__list-paragraph {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .entry-field__list-paragraph {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}

.input-group {
  position: relative;
}

.input-group-control {
  width: 100%;
  border-radius: 30px;
  border: 2px solid #222FDC;
  background: #FFF;
  padding-left: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px 208px 30px 24px;
  color: #B0B1C1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  .input-group-control {
    font-size: calc(18px + 17 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .input-group-control {
    font-size: calc(18px + 10 * (100vw / 1440));
  }
}
@media screen and (max-width: 490px) {
  .input-group-control {
    padding: 16px 150px 16px 16px;
  }
}

.btn-outline-secondary {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 30px;
  background: #222FDC;
  padding: 0px 32px;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  .btn-outline-secondary {
    font-size: calc(18px + 17 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .btn-outline-secondary {
    font-size: calc(18px + 10 * (100vw / 1440));
  }
}
.btn-outline-secondary span {
  color: #5AD18D;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  .btn-outline-secondary span {
    font-size: calc(18px + 51 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .btn-outline-secondary span {
    font-size: calc(18px + 30 * (100vw / 1440));
  }
}
@media screen and (max-width: 490px) {
  .btn-outline-secondary {
    padding: 16px 15px;
  }
}

@media screen and (max-width: 690px) {
  .main-screen__image-img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .main-screen__image {
    width: 100%;
    text-align: center;
  }
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .screensaver__body, .header__logo, .nav-bar-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screensaver__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #2B2B2B;
  width: 100%;
}

.screensaver__body {
  width: 91.3%;
  padding: 14% 0;
}
@media screen and (max-width: 490px) {
  .screensaver__body {
    padding: 44px 0 91px 0;
  }
}

.screensaver__img {
  width: 100%;
}
@media screen and (max-width: 490px) {
  .screensaver__img {
    display: none;
  }
}

.screensaver__img-mobile {
  display: none;
}
@media screen and (max-width: 490px) {
  .screensaver__img-mobile {
    display: block !important;
  }
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .header__logo, .nav-bar-menu__list, .screensaver__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__page {
  background-color: #2B2B2B;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.5% 0 5.5% 0;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.cards__body {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 24px 40px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 24px;
  border-radius: 30px;
  background: #FBEAEF;
  color: #3C711E;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card__container:nth-child(-n+2) {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(-n+2) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card__container:nth-child(-n+2) .card__images-img {
    width: 100%;
  }
}
.card__container:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #000;
  color: #FFF;
  padding: 24px 0 40px 0;
}
.card__container:nth-child(2) .card__content {
  padding: 0 24px;
}
.card__container:nth-child(2) .card__subtitle-p {
  color: #C3C3C3;
}
.card__container:nth-child(2) .card__images {
  width: 100%;
}
.card__container:nth-child(2) .card__images-img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(2) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.card__container:nth-child(3) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #4F23AE;
  color: #72BDF8;
}
.card__container:nth-child(3) .card__content {
  width: 70%;
}
.card__container:nth-child(3) .card__list-paragraph {
  position: relative;
}
.card__container:nth-child(3) .card__list-paragraph:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background: url("../img/card/arrow.svg") no-repeat;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -68px;
}
@media screen and (max-width: 500px) {
  .card__container:nth-child(3) .card__list-paragraph:not(:last-child)::before {
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
  }
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card__container:nth-child(3) .card__images-img {
    width: 100%;
  }
}
.card__container:nth-child(4) {
  background: #F7FF8F;
  color: #000;
  text-align: left;
}
.card__container:nth-child(5) {
  background: #000;
  position: relative;
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(5) {
    height: 510px;
  }
}
@media screen and (max-width: 500px) {
  .card__container:nth-child(5) {
    height: 208px;
  }
}
.card__container:nth-child(5) .card__images {
  position: absolute;
  width: 130%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(5) .card__images {
    width: 115%;
  }
}
@media screen and (max-width: 500px) {
  .card__container:nth-child(5) .card__images {
    width: 100%;
  }
}
.card__container:nth-child(5) .card__images-img {
  width: 100%;
}
.card__container:nth-child(6) {
  background: #DDEFD5;
  color: #DF6741;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(6) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.card__container:nth-child(n+4) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
@media screen and (max-width: 900px) {
  .card__container:nth-child(n+4) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.card__title-h {
  color: inherit;
  text-align: inherit;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -4px;
}
@media (max-width: 767px) {
  .card__title-h {
    font-size: calc(36px + 71.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .card__title-h {
    font-size: calc(36px + 42 * (100vw / 1440));
  }
}
@media screen and (max-width: 500px) {
  .card__title-h {
    line-height: 40px;
  }
}

.card__subtitle-p {
  color: inherit;
  text-align: inherit;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  .card__subtitle-p {
    font-size: calc(20px + 40.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .card__subtitle-p {
    font-size: calc(20px + 24 * (100vw / 1440));
  }
}
@media screen and (max-width: 500px) {
  .card__subtitle-p {
    line-height: 22px;
  }
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
  width: 86%;
}
@media screen and (max-width: 500px) {
  .card__list {
    width: 50%;
  }
}

.card__list-paragraph {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  color: inherit;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 118.182% */
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  .card__list-paragraph {
    font-size: calc(20px + 40.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .card__list-paragraph {
    font-size: calc(20px + 24 * (100vw / 1440));
  }
}
@media screen and (max-width: 450px) {
  .card__list-paragraph {
    line-height: 22px;
  }
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .header__logo, .nav-bar-menu__list, .screensaver__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delimiter__page {
  padding: 4.5% 0 12% 0;
}

.delimiter__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delimiter__images {
  text-align: center;
  width: 100%;
}

.delimiter__images-img {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.functional__body, .header__logo, .nav-bar-menu__list, .screensaver__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functional__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #DAD4C5;
  width: 100%;
}

.functional__body {
  width: 91.3%;
  padding: 64px 0 100px 0;
}

.functional__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  background: #CCC7B9;
  padding: 8px 8px 8px 8px;
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .functional__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.functional__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 16px 0 0 16px;
}

.functional__card-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.functional-card-contant-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 12px;
  background: #C1BEB4;
  color: #9F9F9F;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.1px;
}
@media (max-width: 767px) {
  .functional-card-contant-paragraph {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .functional-card-contant-paragraph {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
.functional-card-contant-paragraph:nth-child(1) {
  background: #F7FF8F;
  color: #000;
}
.functional-card-contant-paragraph:nth-child(2) {
  background: #FFF;
  color: #5B605C;
}
.functional-card-contant-paragraph:nth-child(3) {
  background: #FFF;
  color: #5B605C;
}

.card-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.card-content-text__title-h {
  color: #000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.1px;
}
@media (max-width: 767px) {
  .card-content-text__title-h {
    font-size: calc(24px + 13.6 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .card-content-text__title-h {
    font-size: calc(24px + 8 * (100vw / 1440));
  }
}

.card-content-text__subtitle-p {
  color: #5B605C;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.2px;
}
@media (max-width: 767px) {
  .card-content-text__subtitle-p {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .card-content-text__subtitle-p {
    font-size: calc(16px + 6 * (100vw / 1440));
  }
}

@media screen and (max-width: 1200px) {
  .functional__card-images {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .functional__card-img {
    width: 100%;
  }
}

.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__logo, .nav-bar-menu__list, .screensaver__body, .functional__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__page {
  background-color: #DAD4C5;
}

.feedback__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  width: 100%;
}

.feedback__body {
  width: 91.3%;
  padding: 5.2% 0 5.4% 0;
}
@media screen and (max-width: 1200px) {
  .feedback__body {
    width: 100%;
    padding: 5.2% 2% 5.4% 2%;
  }
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71%;
  padding: 2.4% 4.6% 3.4% 4.6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 30px;
  background: #F7F7F7;
}
@media screen and (max-width: 1200px) {
  .feedback__form {
    width: 100%;
  }
}

.feedback__form-title-h {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -2px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .feedback__form-title-h {
    font-size: calc(32px + 68 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .feedback__form-title-h {
    font-size: calc(32px + 40 * (100vw / 1440));
  }
}

.feedback__form-group {
  width: 100%;
  margin-bottom: 16px;
}

.feedback__form-group-input {
  border-radius: 30px;
  border: 2px solid #B0B1C1;
  padding: 30px 24px;
  background: #FFF;
  color: #B0B1C1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.1px;
  width: 100%;
}
@media (max-width: 767px) {
  .feedback__form-group-input {
    font-size: calc(18px + 17 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .feedback__form-group-input {
    font-size: calc(18px + 10 * (100vw / 1440));
  }
}

.feedback__form-btn {
  position: relative;
  padding: 26px 78px 26px 32px;
  border-radius: 30px;
  background: #000;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.1px;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .feedback__form-btn {
    font-size: calc(18px + 17 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .feedback__form-btn {
    font-size: calc(18px + 10 * (100vw / 1440));
  }
}
.feedback__form-btn::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 20px;
  background: url("../img/card/arrow.svg") no-repeat;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 32px;
}
@media screen and (max-width: 1200px) {
  .feedback__form-btn {
    width: 100%;
  }
}

.feedback__images {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
  .feedback__images {
    position: relative;
    margin-left: auto;
    text-align: right;
  }
}

@media screen and (max-width: 450px) {
  .feedback__images-img {
    width: 50%;
  }
}