section.delimiter__page.page.animated__page
    .delimiter__container.container
       .delimiter__body.body
          .delimiter__images
            //- +picture("./../img/main-screen/mobile-main.png", "./../img/delimiter/separator.png", "delimiter", "delimiter__images-img")
            img.delimiter__images-img(src="./../img/delimiter/separator.png", alt="delimiter")
