section.screensaver__page.page.animated__page
    .screensaver__container
       .screensaver__body
          img.screensaver__img(src="./../img/screensaver/screensaver.png", alt="mogu")
          img.screensaver__img-mobile(src="./../img/screensaver/screensaver-mobile.png", alt="mogu")
