.wrapper {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 91.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-screen__content-title-h {
  color: #222FDC;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 88.889% */
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .main-screen__content-title-h {
    font-size: calc(44px + 78.2 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .main-screen__content-title-h {
    font-size: calc(44px + 46 * (100vw / 1440));
  }
}