
<section class="cards__page page animated__page" id="cards">
  <div class="cards__container">
    <div class="cards__body"><a class="card__container">
        <div class="card__images"><img class="card__images-img" src="./../img/card/img.png" alt="card"/></div>
        <div class="card__content">
          <div class="card__title">
            <h2 class="card__title-h">Вся информация как на ладони</h2>
          </div>
          <div class="card__subtitle">
            <p class="card__subtitle-p">единая строка поиска для всех проектов - где бы ни была задача, вы быстро ее найдете</p>
          </div>
        </div></a><a class="card__container">
        <div class="card__images"><img class="card__images-img" src="./../img/card/Saly-23.png" alt="card"/></div>
        <div class="card__content">
          <div class="card__title">
            <h2 class="card__title-h">Ничто не мешает полету мысли</h2>
          </div>
          <div class="card__subtitle">
            <p class="card__subtitle-p">фиксируйте новые идеи в один клик, прикрепляйте файлы и подробные описания сути задач</p>
          </div>
        </div></a><a class="card__container">
        <ul class="card__list">
          <li class="card__list-paragraph">обновляйте статус задачи</li>
          <li class="card__list-paragraph">следите за сроками дедлайнов</li>
          <li class="card__list-paragraph">отправляйте завершенные задачи в архив</li>
        </ul>
        <div class="card__images"><img class="card__images-img" src="./../img/card/Folder.png" alt="card"/></div>
        <div class="card__content">
          <div class="card__title">
            <h2 class="card__title-h">Порядок в подарок</h2>
          </div>
          <div class="card__subtitle">
            <p class="card__subtitle-p">задачи удобно структурировать с помощью чек-листов, меток и пользовательских полей</p>
          </div>
        </div></a><a class="card__container">
        <div class="card__content">
          <div class="card__title">
            <h2 class="card__title-h">Совместная работа на одной доске</h2>
          </div>
          <div class="card__subtitle">
            <p class="card__subtitle-p">приглашайте коллег, бизнес-партнеров и заказчиков</p>
          </div>
        </div></a><a class="card__container">
        <div class="card__images"><img class="card__images-img" src="./../img/card/Saly-31.png" alt="card"/></div></a><a class="card__container">
        <div class="card__content">
          <div class="card__title">
            <h2 class="card__title-h">Настройка под вас</h2>
          </div>
          <div class="card__subtitle">
            <p class="card__subtitle-p">устанавливайте персональный фон для каждого проекта</p>
          </div>
        </div></a></div>
  </div>
</section>