section.cards__page.page.animated__page#cards
    .cards__container
       .cards__body
          a.card__container
             .card__images
                img.card__images-img(src="./../img/card/img.png", alt="card")
             .card__content
                .card__title
                   h2.card__title-h
                      | Вся информация как на ладони
                .card__subtitle
                   p.card__subtitle-p
                      | единая строка поиска для всех проектов - где бы ни была задача, вы быстро ее найдете
          a.card__container
             .card__images
                img.card__images-img(src="./../img/card/Saly-23.png", alt="card")
             .card__content
                .card__title
                   h2.card__title-h
                      | Ничто не мешает полету мысли
                .card__subtitle
                   p.card__subtitle-p
                      | фиксируйте новые идеи в один клик, прикрепляйте файлы и подробные описания сути задач
          a.card__container
             ul.card__list
                li.card__list-paragraph обновляйте статус задачи
                li.card__list-paragraph следите за сроками дедлайнов
                li.card__list-paragraph отправляйте завершенные задачи в архив
             .card__images
                img.card__images-img(src="./../img/card/Folder.png", alt="card")
             .card__content
                .card__title
                   h2.card__title-h Порядок в подарок
                .card__subtitle
                   p.card__subtitle-p задачи удобно структурировать с помощью чек-листов, меток и пользовательских полей
          a.card__container
             .card__content
                .card__title
                   h2.card__title-h Совместная работа на одной доске
                .card__subtitle
                   p.card__subtitle-p приглашайте коллег, бизнес-партнеров и заказчиков
          a.card__container
             .card__images
                img.card__images-img(src="./../img/card/Saly-31.png", alt="card")
          a.card__container
             .card__content
                .card__title
                   h2.card__title-h Настройка под вас
                .card__subtitle
                   p.card__subtitle-p устанавливайте персональный фон для каждого проекта
