section.feedback__page.page.animated__page#feedback
    .feedback__container
       .feedback__body
          form.feedback__form(action="")
             .feedback__form-title
                h2.feedback__form-title-h Обратная связь
             .feedback__form-group
                input.feedback__form-group-input(type="email", name="email", placeholder="Электронная почта", required)
             textarea.feedback__form-group-input.feedback__textarea(name="massage", placeholder="О чем хотите рассказать?", rows="4" required)
             button.feedback__form-btn(type="submit") отправить
          .feedback__images
             img.feedback__images-img(src="./../img/feedback/cat.png", alt="cat")
