@import "common.scss";

.delimiter__page {
    padding: 4.5% 0 12% 0;
}
.delimiter__body {
    justify-content: center;
}
.delimiter__images {
    text-align: center;
    width: 100%;
}
.delimiter__images-img {
    width: 100%;
}