.delimiter__page {
    padding: 4.5% 0 12.4% 0;
    @media screen and (max-width: 400px) {
        padding: 15% 0 23% 0;
    }
}
.delimiter__body {
    justify-content: center;
}
.delimiter__images {
    text-align: center;
    width: 100%;
}
.delimiter__images-img {
    width: 83%;
    @media screen and (max-width: 400px) {
        width: 100%;
    }
}