section.delimiter__page.page.animated__page
    .delimiter__container.container
       .delimiter__body.body
          .delimiter__images
             img.delimiter__images-img(src="./../img/delimiter/separator.png", alt="delimiter")
