section.feedback__page.page.animated__page#feedback
    .feedback__container
       .feedback__body
         form.feedback__form(action="")
            .feedback__form-content
               .feedback__form-title
                  h2.feedback__form-title-h Обратная связь
               .feedback__form-group
                  input.feedback__form-group-input#input__email(type="email", name="email", placeholder="Электронная почта", required)
               textarea.feedback__form-group-input.feedback__textarea#input__massage(name="massage", placeholder="О чем хотите рассказать?", rows="4" required)
               button.feedback__form-btn(type="submit") отправить
            .feedback__form-content-not-active.feedback__form-content-send
               .feedback__form-title
                  h2.feedback__form-title-h#content__send-title 
         .feedback__images
            img.feedback__images-img(src="./../img/feedback/cat.png", alt="cat")