.feedback__page {
    background-color: #DAD4C5;
}
.feedback__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
    width: 100%;
}
.feedback__body {
    width: 91.3%;
    padding: 5.2% 0 5.4% 0;
    @media screen and (max-width: 1200px) {
        width: 100%;
        padding: 5.2% 2% 5.4% 2%;

    }
}
.feedback__form {
    display: flex;
    width: 66%;
    padding: 2.9% 4.6% 3.4% 5.1%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background: #F7F7F7;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (max-width: 400px) {
        padding: 7% 8% 12% 7%;
    }

}
.feedback__form-content {
    width: 100%;
}
.feedback__form-content-not-active {
    display: none;
}
.feedback__form-title-h {
    color: #000;
    font-family: 'Oswald', sans-serif;   
    @include adaptiveFont(72, 32);
    font-style: normal;
    font-weight: 500;
    line-height: 80px; 
    letter-spacing: -2px;
    margin-bottom: 40px;
    @media screen and (max-width: 400px) {
        line-height: 48px;
        margin-bottom: 18px;
    }
}
.feedback__form-group {
    width: 100%;
    margin-bottom: 16px;
    @media screen and (max-width: 400px) {
        margin-bottom: 10px;
    }

}
.feedback__form-group-input {
    border-radius: 30px;
    border: 2px solid #B0B1C1;
    padding: 28px 20px;
    background: #FFF;
    color: #B0B1C1;
    font-family: 'Inter', sans-serif;
    @include adaptiveFont(28, 18);
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: -0.1px;
    width: 100%;
    @media screen and (max-width: 400px) {
        border-radius: 20px;
        padding: 14px;
    }
}
.feedback__textarea {
    height: 240px;
    @media screen and (max-width: 400px) {
        height: 182px;
    }
}
.feedback__form-btn {
    position: relative;
    padding: 26px 78px 26px 32px;
    min-height: 78px;
    border-radius: 30px;
    background: #000;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    @include adaptiveFont(28, 18);
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    letter-spacing: -0.1px;
    margin-top: 32px;
    &::before {
        content: '';
        position: absolute;
        width: 38px;
        height: 20px;
        background: url("../img/card/arrow.svg") no-repeat;
        top: 50%;
        transform: translateY(-50%);    
        transition: right 0.5s ease;  
        right: 32px;  
        @media screen and (max-width: 400px) {
            width: 32px;
            right: 70px;  
        }   
    }
    &:hover {
        opacity: 0.7;
    }
    &:hover::before {
        right: 25px;
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (max-width: 400px) {
        margin-top: 20px;
        border-radius: 20px;
        padding: 0;
    }
}
.feedback__images {
    position: absolute;
    right: 0;
    bottom: 0;
    @media screen and (max-width: 1200px) {
        position: relative;
        margin-left: auto;
        text-align: right;
    }
}
.feedback__images-img {
    @media screen and (max-width: 400px) {
        width: 65%;
    }
}
.feedback__form-content-not-active {
    display: none;
}
.feedback__form-content-active  {
    display: block;
}