.functional__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: #DAD4C5;
    width: 100%;
}
.functional__body {
    width: 91.3%;
    padding: 64px 0 100px 0;
    @extend %flexCenter;
}
.functional__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 30px;
    background: #CCC7B9;
    padding: 8px 8px 8px 8px;
    gap: 24px;
    @media screen and (max-width: 1290px) {
        flex-wrap: wrap;
    }
}
.functional__card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 0 0 16px;
}
.functional__card-content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.functional__active {
    background: #F7FF8F !important;
    color: #000 !important;
}
.notActive {
    background: #FFF !important;
    color: #5B605C !important;
    &:hover {
        background: #F7FF8F !important;
        color: #000;
        opacity: 0.9;
        cursor: pointer;
    }
}
.functional-card-contant-paragraph-link {
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 12px;
    background: #C1BEB4;    
    color: #9F9F9F;    
    text-align: center;
    font-family: 'Inter', sans-serif;
    @include adaptiveFont(16, 14);
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    letter-spacing: 0.1px;
    cursor: pointer;
}
.card-content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-content-text__title-h {
    color: #000;
    font-family: 'Inter', sans-serif;
    @include adaptiveFont(32, 24);
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    letter-spacing: -0.1px;
}
.card-content-text__subtitle-p {
    color: #5B605C;
    font-family: 'Inter', sans-serif;
    @include adaptiveFont(22, 16);
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    letter-spacing: -0.2px;
}
.functional__card-images {
    @media screen and (max-width: 1290px) {
        width: 100%;
    }
}
.functional__card-img {
    @media screen and (max-width: 1290px) {
       width: 100%;
    }
}